{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>桂电帮--注册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />




  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'login/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'login/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body class="style-2">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="menu">

					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">


					<!-- Start Sign In Form -->
					<form action="register_check/" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" method="post">
                        {% csrf_token %}
						<h2>注册</h2>


                        {% if message %}
						<div class="form-group">
							<div class="alert alert-success" role="alert">{{ message }}</div>
						</div>
                        {% endif %}

						<div class="form-group">
							<label for="name" class="sr-only">姓名</label>
							<input type="text" class="form-control" name = 'username' id="name" placeholder="姓名" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">邮箱</label>
							<input type="email" class="form-control" name = "email" id="email" placeholder="邮箱" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">密码</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="密码" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="re-password" class="sr-only">重复密码</label>
							<input type="text" class="form-control" name='school_num' id="re-password" placeholder="学号" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="remember"><input type="checkbox" id="remember"> 是否记住我</label>
						</div>
						<div class="form-group">
							<p>准备注册了吗? <a href="index2.html"></a></p>
						</div>
						<div class="form-group">
							<input type="submit" value="注册" class="btn btn-primary">
						</div>
					</form>
					<!-- END Sign In Form -->


				</div>
			</div>
				<div class="row" style="padding-top: 60px; clear: both;">
				<div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">Tempaltes Home</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">Web Tempate</a></small></p></div>
			</div>
		</div>

	<!-- jQuery -->
	<script src="{% static 'login/js/jquery.min.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
	<!-- Placeholder -->
	<script src="{% static 'login/js/jquery.placeholder.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'login/js/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'login/js/main.js' %}"></script>

	</body>
</html>

